<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".StudBuddyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Studbuddy">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".courses.CourseActivity" android:launchMode="singleTop" />
        <activity android:name=".attendance.AttendanceActivity" android:launchMode="singleTop" />
        <activity android:name=".timetable.TimetableActivity" android:launchMode="singleTop" />
        <activity android:name=".assignments.AssignmentsActivity" android:launchMode="singleTop" />
        <activity android:name=".exams.ExamsActivity" android:launchMode="singleTop" />
        <activity android:name=".gpa.GpaActivity" android:launchMode="singleTop" />
        <activity android:name=".settings.SettingsActivity" android:launchMode="singleTop" />

    </application>

</manifest>
